<% include ./partials/header %>




    <section id="blog" class="py-3">
      <div class="container">


      	<!-- if someone is logged in, show their reserved items -->

      	<% if (currentUser) {%> 
      		<h1> Reminders </h1>
      		<ul class = "list-group">
      			<% usersitems.forEach(function(item){ %>
      				
      				<!-- if this item is happening this week, color it with yellow -->
					<% if (item.event_date_df > moment() && item.event_date_df < moment().add(7, 'days')) {%>

      				<li class = "list-group-item bg-warning"> 
      					<strong><%= item.event_date%><br/></strong>
      					<%= item.list_origin.name%> at <%= item.author.username %><br/><br/>
      					Do not Forget: <%= item.name%>		
      				</li>

					<% } else {%>

	      				<li class = "list-group-item" class = ""> 
	      					<strong><%= item.event_date%><br/></strong>
	      					<%= item.list_origin.name%> at <%= item.author.username %><br/><br/>
	      					Do not Forget: <%= item.name%>		
	      				</li>
					<%}%>
      					




      				<br / >
      			<%})%>
      		</ul>
      	<%}%>


      	<% if (!currentUser) {%> 
      		<!-- not logged in, see all list -->
      		<h1>All WishLists</h1>

      	<%} else {%>
      		<!-- actually logged in, see upcoming ones -->
      		<h1>Upcoming Events this Week</h1>

      	<%}%>




		<button class = "btn btn-link mb-4" ><a href = "/lists/new" style= "text-decoration: underline; color: #43A4BC;" >Make a new list</a></button>



        <div class="row">
          <div class="col">
            <div class="card-columns">

				<% lists.forEach(function(list){ %>

		              <div class="card">

		              	<a href = "/lists/<%=list._id %>" style= "color: black;">
		                <img
		                  src="<%= list.image%>"
		                  alt=""
		                  class="img-fluid card-img-top"
		                />  
		                </a>


		                <div class="card-body">
		                  <a href = "/lists/<%=list._id %>" style= "color: black;">
		                
			                  <h4 class="card-title">
			                    <%= list.name %>
			                  </h4>
		                  </a>
<!-- 		                  <small class="text-muted">Written by jacob</small>
		                  <hr />
 -->		              
		                    
		                  	<p class = "card-text float-left"><%= list.event_date %> </p>
			                <p class = "card-text float-right text-secondary" style = "font-size: 1rem;">(by <%= list.author.username%>)</p>

		                </div>


			            </div>


				<% })%> 
		       
		       </div>


              </div>
            </div>
          </div>
    </section>

<% include ./partials/footer %>