<% include ./partials/header %>


<!-- make this col-9 col-3 eventually, col-3 -> the list of items -->
<div id = "center_items_show">

	<h2 class = "m-3"><%= list.name %></h2>



	<div class = "thumbnail">
		<img id = "occupy_div" class = "img-responsive" src = "<%= list.image%>" >
		<div class = "caption-full">
			<p class = "m-3"><%= list.description %></p>
		</div>
	</div>

	<button class = "btn btn-link mb-4" ><a href = "/lists/<%= list._id %>/edit" style= "text-decoration: underline; color: #6ADB3A;">Edit</a></button>

	<form style="display: inline;" action = "/lists/<%= list._id %>?_method=DELETE" method="POST">
		<button class = "btn btn-link mb-4" style= "text-decoration: underline; color: #CB2530;">Delete</button>
	</form>
	<button class = "btn btn-link mb-4" ><a href = "/lists" style= "text-decoration: underline; color: black;">Go Back</a></button>


</div>

<% include ./partials/footer %>