<% include ./partials/header %>


<!-- make this col-9 col-3 eventually, col-3 -> the list of items -->


<div class = "container">

	<div class = "row">
		<div class="col-sm-6 col-md-6 col-lg-5 col-xl-5">
		
			<h2 class = "m-2"><%= list.name %></h2>

			<h3 class = "m-3 text-secondary" style = "font-size: 1rem;">(by <strong><%= list.author.username%></strong>)</h3>


			<div class = "thumbnail">
				<img id = "occupy_div" class = "img-responsive" src = "<%= list.image%>" >
				<div class = "caption-full">
					<p class = "m-3"><%= list.description %></p>
				</div>
			</div>
			<% if (list.author.id.equals(currentUser._id)) {%>
				<button class = "btn btn-link mb-4" ><a href = "/lists/<%= list._id %>/edit" style= "text-decoration: underline; color: #6ADB3A;">Edit</a></button>

				<form style="display: inline;" action = "/lists/<%= list._id %>?_method=DELETE" method="POST">
					<button class = "btn btn-link mb-4" style= "text-decoration: underline; color: #CB2530;">Delete</button>
				</form>
			<% } %>


	    	<button class = "btn btn-link mb-4" ><a href = "/lists" style= "text-decoration: underline; color: black;">Go Back</a></button>


		</div>


	    <div class="col-sm-6 col-md-6 col-lg-7 col-xl-7" >



			<h2 class = "mt-2 mb-4">Items</h2>

			<ul class = "list-group my-5">

				<% if (list.author.id.equals(currentUser._id)) {%>
					<input class="form-control list-group-item mb-2"  type = "text" name = "name" placeholder = "Add new Item">
				<% } %>

				<% if (items.length > 0) { %>
					<% items.forEach(function(item){ %>
						<li id = "can-be-reserved" class = "list-group-item">

						    <%= item.name %>



						    <!-- if someone else already called dibs on it -->

						    <% if (!item.author.id.equals(list.author.id)) { %>
							    <small style = "display: inline;" class = "float-right">reserved by <%= item.author.username%>
							    	
							    	<% if (item.author.id.equals(currentUser._id)) {%>
							    		(you)
							    	<%}%>

							    </small>

						   	<%} else if (!item.author.id.equals(currentUser._id)) {%>
								<span id = "<%= item._id%>" class = "float-right"><a href = "/lists/<%= list._id%>">Reserve</a></span>

						   	<%}%>

						</li>



					<% }) %>
				<% } %>

			</ul>


	    </div>

	</div>


</div>
<!-- 
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<script type="text/javascript" src="/js_file_for_show.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->

<script type = "text/javascript">
	


	$("ul").on("click", "span", function(event){
		$(this).parent().addClass("completed");

		// they hit reserve, so re upload picture
		var newtodo =  $(this).val();
		var id_of_item = this.id;
		console.log($(this).parent()[0]);


		var rawval = $(this).parent()[0]['innerText'].replace(/\s/g, "");
		var rawval = rawval.substring(0, rawval.length - 7);
		var reserved_data = {
			name: rawval,
			author: {
				id: "<%= currentUser._id %>",
				username: "<%= currentUser.username %>"
			},
			list_origin: {
				id: "<%= list._id %>"
			}
		}


		$.ajax({
			type: 'POST',
			data: JSON.stringify(reserved_data),
			contentType: 'application/json',
			url: 'http://127.0.0.1:3000/lists/<%= list._id%>/itemsreserve/' + id_of_item
		});

	});

	$("input[type='text']").keypress(function(event){
	// extract the value
	// when hit enter, do something with the value
	// clear the 
		if (event.which === 13){
			var newtodo = $(this).val();
			$(this).val(""); // setter, not a getter!
			// make a new li, append to ul  				<li class = "list-group-item"><span></span> Visit Hagrid</li>

			$('ul[class = "list-group my-5"]').append('<li class = "list-group-item"> ' + newtodo + '</li>');


			var data = {

				name: newtodo,
				author: {
					id: "<%= currentUser._id %>",
					username: "<%= currentUser.username %>"
				},

				list_origin: {
					id: "<%= list._id %>"
				}
			};


			$.ajax({
				type: 'POST',
				data: JSON.stringify(data),
				contentType: 'application/json',
				url: 'http://127.0.0.1:3000/lists/<%= list._id%>/items'
			});

		}




	});



</script>


<% include ./partials/footer %>